---
layout: simple
---

<section class="home container-fluid">
    <div class="row">
        <aside class="sidebar col-sm-12 col-md-4 col-lg-3">
            <img src="https://avatars0.githubusercontent.com/u/4710451" alt="Jamie Robertson avatar" class="avatar">
            <ul class="list-unstyled">
                <li class="d-none d-print-block mb-3">Contact</li>
                <li><i class="fa fa-fw fa-envelope"></i> <span class="e-hidden"><noscript>JavaScript is required to view email</noscript></span></li>

                <li class="d-none d-print-block">{{ site.tel_uk }}</li>

                <li class="mt-3"><i class="fa fa-fw fa-github"></i> <a href="{{ site.github_url }}" target="_blank">{{ site.github_username }}</a></li>
                <li><i class="fa fa-fw fa-linkedin"></i> <a href="{{ site.linkedin_url }}" target="_blank">{{ site.linkedin_username }}</a></li>
                <li class="d-none d-print-block"> <a href="https://jamierobertson.github.io" target="_blank">jamierobertson.github.io</a></li>
            </ul>
        </aside>
        <main class="main col-sm-12 col-md-8 offset-md-4 col-lg-8 offset-lg-3 col-xl-6">
            <header class="site-header">
                <h1 class="h2 font-weight-normal mb-3">Jamie Robertson</h1>

                <p class="h5 font-weight-normal mb-3">
                    I work as a <b>full stack developer</b> for music streaming startup, <a href="https://stem.fm" target="_blank" rel="nofollow">STEM FM</a> &mdash; deconstructing music into its constitutive parts and building it back up in new and exciting ways using machine learning algorithms.
                </p>
                <p class="small d-print-none">
                    STEM FM (from company, STEM Tech) originated from a collaboration with Kanye West to develop a handheld audio mixing device called the StemPlayer. 
                </p>
                <p class="small d-print-none">
                    The partnership was originally with <a href="https://kano.me" target="_blank" rel="nofollow">Kano Computing</a>. 
                    Kano Computing designed web apps, DIY computers and coding kits for children. Designed to help empower them by 
                    teaching them about technology.
                </p>
                <p class="small d-print-none">
                    I have also previously worked as a developer for the music production software company <a href="https://reasonstudios.com" target="_blank" rel="nofollow">Reason Studios</a> in Stockholm, Sweden.
                </p>

                {% comment %}
                    <li>{{ site.tel_uk }}</li>
                {% endcomment %}

                <div class="row d-print-none">
                    <div class="col-sm-12 col-md-auto">
                        <ul class="list-unstyled">
                            <li class="mb-1"><i class="fa fa-fw fa-envelope-o"></i> <span class="e-hidden"><noscript>JavaScript is required to view email</noscript></span></li>
                            <li class="mb-1"><i class="fa fa-fw fa-file-o"></i> <a href="{{ site.resume_url|prepend: site.base_url }}" target="_blank">download this CV</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-auto">
                        <ul class="list-unstyled">
                            <li class="mb-1"><i class="fa fa-fw fa-github"></i> <a href="{{ site.github_url }}" target="_blank">{{ site.github_username }}</a></li>
                            <li class="mb-1"><i class="fa fa-fw fa-linkedin"></i> <a href="{{ site.linkedin_url }}" target="_blank">{{ site.linkedin_username }}</a></li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="text-divider"><p class="text-muted font-italic text-divider__inner">Experience</p></div>

            <dl class="exp">
                {% for x in site.data.experience %}
                    <dt class="mt-5 mb-3">
                        <h3 class="mb-0">{{ x.company }}</h3>
                        <small class="text-muted font-italic">
                            {% if x.description %} {{ x.description }} {% endif %}
                            <br>
                            {% if x.link and x.location -%}
                                <a href="{{ x.link }}" target="_blank">{{ x.link }}</a>
                                | {{ x.location }}
                            {%- endif %}
                        </small>
                    </dt>
                    <dd>
                        {%- if x.stack -%}
                            <div class="stack mb-3">
                                {%- for s in x.stack -%}
                                    <span class="stack__item">{{ s }}</span>
                                {%- endfor -%}
                            </div>
                        {%- endif -%}
                        {%- if x.positions -%}
                            <ul class="list-unstyled">
                                {%- for p in x.positions -%}
                                <li>
                                    <span class="font-weight-bold d-block mt-1">{{ p.title }}</span>
                                    <small class="text-muted">{{ p.dates }}</small>
                                </li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                        {%- if x.responsibilities -%}
                            <ul class="small">
                                {%- for r in x.responsibilities -%}
                                    <li>{{ r }}</li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </dd>
                {% endfor %}
            </dl>
            <hr class="my-5">

            <h4>🎓 Education</h4>
            <p>
                <b>Edinburgh College of Art - University of Edinburgh</b> <br>
                Visual Communication <br>
                Graduated 2010
            </p>
            <hr class="my-5">

            <h4><i class="fa fa-github"></i> My Github profile</h4>
            <p>
                <!-- <span id="reposCount" class="text-muted" style="font-style: italic;"></span> <br> -->
                <a href="{{ site.github_url }}">
                    {{ site.github_username }}
                </a>
                <br>
                Most of the projects I work on are in private repositories. <br>
                Some things are publicly available, like <a href="{{ site.github_url }}?tab=repositories&type=fork" target="_blank">forked repos</a> and <a href="{{ site.github_url }}?tab=repositories&type=source" target="_blank">personal projects</a>.
                <!-- Here are some personal projects that are open:  -->
            </p>

            <div class="d-print-none">
                <hr class="my-5">
                <h4>😸 Technology I have experience working with:</h4>
                <ul class="list-unstyled">
                    <li><b>Python</b>: 
                        <small class="text-muted"><em>Django, Scrapy, Celery, Flask</em></small>
                    </li>
                    
                    <li><b>JavaScript</b>: 
                        <small class="text-muted"><em>Typescript, ES7, React, various state libraries</em></small>
                    </li>
                    
                    <li><b>iOS</b>:
                        <small class="text-muted"><em>Swift, React Native</em></small>
                    </li>
                    
                    <li><b>Web design</b>: 
                        <small class="text-muted"><em>CSS, Sass</em></small>
                    </li>
                    
                    <li><b>Infra / DevOps</b>: 
                        <small class="text-muted"><em>AWS, CloudFormation, Terraform, Docker, Vagrant, Ansible</em></small>
                    </li>
                    
                    <li><b>Databases</b>: 
                        <small class="text-muted"><em>MySQL, Postgres, MongoDB, DynamoDB, Athena</em></small>
                    </li>
                    
                    <li><b>Design</b>: 
                        <small class="text-muted"><em>Photoshop, Illustrator, inDesign, After Effects, Blender</em></small>
                    </li>
                    
                    <li><b>Marketing automation</b>: 
                        <small class="text-muted"><em><a target="_blank" href="https://www.salesforce.com/products/marketing-cloud/overview/" target="_blank" rel="nofollow">Salesforce</a> marketing cloud (formerly ExactTarget)</em></small>
                    </li>
                </ul>
                <br>
                
                <h4>🙀 Technologies I have worked with in the past:</h4>
                <ul class="list-unstyled">
                    <li>pHp, Wordpress, ActionScript (Flash), ColdFusion, jQuery, Ember, Backbone</li>
                </ul>
                <hr class="my-5">
            </div>

        </main>
    </div>
</section>
