<footer class="main-footer">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!--<li>{{ site.title }}</li>-->
          
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include icon_github.html %}
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              
              {% include icon_twitter.html %}

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

</footer>
