<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ "/css/flashing-text.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>
    <body>
        <article>
            <input id="txt" />
            <!-- <p id="txt"></p> -->
        </article>
    </body>
    <script src="{{ "/js/txt.js" | prepend: site.baseurl }}"></script>
</html>